---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"body":"just a dummy test comment"}
    form: {}
    headers:
      Authorization:
      - Bearer censoredGithubOauthToken
      Content-Type:
      - application/json
    url: https://api.github.com/repos/hectorj/ir-blaster/issues/1/comments
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/hectorj/ir-blaster/issues/comments/349631629","html_url":"https://ir-blaster.com/issues/1#issuecomment-349631629","issue_url":"https://api.github.com/repos/hectorj/ir-blaster/issues/1","id":349631629,"user":{"login":"hectorj","id":2427959,"avatar_url":"https://avatars2.githubusercontent.com/u/2427959?v=4","gravatar_id":"","url":"https://api.github.com/users/hectorj","html_url":"https://github.com/hectorj","followers_url":"https://api.github.com/users/hectorj/followers","following_url":"https://api.github.com/users/hectorj/following{/other_user}","gists_url":"https://api.github.com/users/hectorj/gists{/gist_id}","starred_url":"https://api.github.com/users/hectorj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hectorj/subscriptions","organizations_url":"https://api.github.com/users/hectorj/orgs","repos_url":"https://api.github.com/users/hectorj/repos","events_url":"https://api.github.com/users/hectorj/events{/privacy}","received_events_url":"https://api.github.com/users/hectorj/received_events","type":"User","site_admin":false},"created_at":"2017-12-06T12:55:37Z","updated_at":"2017-12-06T12:55:37Z","author_association":"OWNER","body":"just
      a dummy test comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d515df98eeaab4a37e030aeafdf2a12b"'
      Location:
      - https://api.github.com/repos/hectorj/ir-blaster/issues/comments/349631629
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - gist, notifications, read:org, read:public_key, read:repo_hook, repo, user:email
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1512568537"
    status: 201 Created
    code: 201
